@font-face {
    font-family: 'planewalkerregular';
    src: url('/fonts/planewalker-webfont.woff2') format('woff2'),
         url('/fonts/planewalker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
	font-family: 'planewalkerregular';
	color: #000000;
	text-align: center;
}

img.loading{
	display: block;
	height: 100%;
	width: 100%;
	object-position: center;
	transform: scale(0.1);
}

div#modalcontainer{
	position: fixed;
	top: 0;
	left: calc(100% + 16px);
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: hidden;
	box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
	background: #FCF5E5;
	transition-duration: .5s;
}

div#modalcontainer.open{
	width: 100%;
	top: 0;
	left: 0;
}

div#modalcontainer > div#modalcontent{
	display: block;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

div#maincontainer{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overfloy-y: auto;
	box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
	background: #FCF5E5;
	button{
		padding-bottom: 16px;
	}
}

div.row{
	margin: 8px 0;
}

h1, h2, h3{
	margin: 0;
}

button{
	font-family: inherit;
	font-weight: bold;
	background: none;
	border: none;
	img{
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}

div#gamebuttons, div#otherbuttons{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

div#gamebuttons > button.gamebutton, div#otherbuttons > button.otherbutton{
	flex-basis: 84px;
}

button#startnewgame{
	height: 80px;
	width: 100%;
}

hr{
 	border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px #8a4d0f;
}

hr:after{
	content: "\00a0";
}

ul{
	display: block;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
ul li{
	display: table;
	margin: 0 auto;
}
ul span{
	display: table-cell;
	vertical-align: middle;
	line-height: 24px;
}
ul#killlist img{
	height: 27px;
	width: 27px;
	margin: 0 16px;
	object-fit: contain;
}
ul#killlist li button.killremove{
	float: right;
	position: absolute;
	right: 16px;
	height:27px;
	width: 16px;
	background: url('/img/tenth.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

select{
	font-family: inherit;
	width: calc(100% - 16px);
}

input#quotedate, textarea#quoteinput, select{
	font-family: inherit;
	width: calc(100% - 16px);
}

ul#pointslist{
	li{
		line-height: 32px;
		height: 32px;
		span.pointslistvalues{
			position: absolute;
			right: 16px;
		}
	}
	input[type="number"]{
		background: none;
		border: none;
		font-family: inherit;
		text-align: center;
		height: 24px;
		line-height: 32px;
		padding: 0 16px;
	}
	button.addpoint{
		background-image: url('/img/plus.svg');
	}
	button.subtractpoint{
		background-image: url('/img/minus.svg');
	}
	button{
		height: 24px;
		width: 24px;
		border-radius: 16px;
		border: none;
		box-shadow: 0 0 10px 1px #8a4d0f;
		background-color: #FCF5E5;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 16px;
		text-align: center;
	}
}

table{
	width: 100%;
}

.hidden{
	display: none !important; 
}

a{
	text-decoration: none;
}