@font-face {
    font-family: 'planewalkerregular';
    src: url('/fonts/planewalker-webfont.woff2') format('woff2'),
         url('/fonts/planewalker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
	font-family: 'planewalkerregular';
	color: #000000;
	text-align: center;
}

div#maincontainer{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overfloy-y: auto;
	box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
	background: #FCF5E5;
}