<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Magic Tracker</title>
		<link rel="stylesheet" rel="preload" as="style" type="text/css" href="{{constant('SITE_CSS')}}main.css">
		<script type="text/javascript" rel="preload" as="script" src="{{constant('SITE_JS')}}main.js"></script>
	</head>
	<body>
		<div id="maincontainer">